{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<body>
    <div class="container-xxl">
        <h1 style="text-align:center">Конвертирование изображения в пдф</h1>
<hr>
  <h3>Загрузите изображения для объединения в PDF</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="files[]" multiple required />
    <br>
    <button type="submit" class="btn btn-primary" style="margin-top: 2%">Загрузить и создать PDF</button>
  </form>
</div>
</body>
{% endblock %}
